<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.mapper.ShoppingMapper" >
  <select id="gowuche" resultType="com.guigu.pojo.Goodssp" parameterType="com.guigu.pojo.Goodssp">
    SELECT * FROM goods gs INNER JOIN shopping shp ON gs.spId=shp.spId
    </select>
<!--  <delete id="deleteGoodsspByid"  resultType="com.guigu.pojo.Goodssp" parameterType="int">-->
<!--    delete from goods gs INNER JOIN shopping shp ON gs.spId=shp.spId where shp.spId=#{spId}-->
<!--    </delete>-->
</mapper>